.list-item {
  margin-bottom: 55px;
  text-align: left;

}
.price{
  text-align: left;
}
.block {
  border: 1px solid rgba(0, 0, 0, 0);
}

.add-to-cart {
  text-align: end;
}

.brief {
  height: auto;

}

.image {
  height: 70%;
  width: 100%;
}